.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.mainFormulario{
    width: 30%;
    background: rgb(192, 190, 190);
    border: 1px solid black;
  }
  
.mainTabela{
    width: 70%;
    background: rgb(228, 213, 213);
    border: 1px solid black;
}